---
import config from "@/config/config.json";
import ImageMod from "./ImageMod.astro";

const { src }: { src?: string } = Astro.props;
const {
  logo,
  logo_width,
  logo_height,
  logo_text,
  title,
}: {
  logo: string;
  logo_width: any;
  logo_height: any;
  logo_text: string;
  title: string;
} = config.site;
---

<a href="/" class="navbar-brand inline-block">
  <ImageMod
    src="/images/textonly.png"
    alt="Eco Shack"
    width={0}
    height={0}
    loading="eager"
    class="inline-block"
    style="height:40px;width:auto"
  />
</a>
