---
import config from "@/config/config.json";
import ImageMod from "./ImageMod.astro";

const { src }: { src?: string } = Astro.props;
const {
  logo,
  logo_width,
  logo_height,
  logo_text,
  title,
}: {
  logo: string;
  logo_width: any;
  logo_height: any;
  logo_text: string;
  title: string;
} = config.site;
---

<a href="/" class="navbar-brand inline-block">
  <ImageMod
    src="/images/textonly.png"
    class="inline-block"
    width={200}
    height={40}
    alt="Eco Shack"
    style={{
      height: "40px",
      width: "auto",
    }}
    format="webp"
    quality={90}
    loading="eager"
  />
</a>
