---
import config from "@/config/config.json";

const { src }: { src?: string } = Astro.props;
const {
  logo,
  logo_width,
  logo_height,
  logo_text,
  title,
}: {
  logo: string;
  logo_width: any;
  logo_height: any;
  logo_text: string;
  title: string;
} = config.site;
---

<a href="/" class="navbar-brand inline-block">
  <img
    src="/images/logo.svg"
    alt="Eco Shack"
    width="200"
    height="40"
    loading="eager"
    class="inline-block"
    style="height:40px;width:auto"
  />
</a>
