---
import Breadcrumbs from "@/components/Breadcrumbs.astro";
import { humanize } from "@/lib/utils/textConverter";
import bgImageMod from "@/lib/utils/bgImageMod";

const { title = "", compact = false }: { title?: string; compact?: boolean } = Astro.props;

const isContactPage = Astro.url.pathname === "/contact";
const optimizedBannerImage = await bgImageMod("/images/banner.jpg", "avif", 90);
---

<section>
  <div class="text-center">
    <div

      class={`${
        isContactPage
          ? "h-[400px] lg:h-[650px]"
          : compact
            ? "pt-[220px] pb-[60px]"
            : "pt-[240px] pb-[140px]"
      } bg-cover bg-bottom bg-no-repeat`}
      style={`background-image: url(${optimizedBannerImage})`}
    >
    {
      !isContactPage && (
        <h1 data-aos="zoom-out-sm"
        data-aos-delay="150" class="text-white" set:text={humanize(title)} />
      <Breadcrumbs className="mt-3" />
      )
    }

    </div>
  </div>
</section>
